@import "styles/variables.scss";

.header {
  width: 100%;

  .container {
    margin: auto;
    width: $content-width;
    max-width: $content-max-width;
    .navbar {
      &_top {
        display: flex;
        justify-content: space-between;

        .left_col,
        .right_col {
          display: flex;
          align-items: center;
        }

        .right_col {
          gap: 10px;
        }
      }
    }
  }
}
