@import "styles/variables.scss";

.auth_popup {
  position: relative;
  height: min-content;
  max-width: 97%;
  width: 578px;

  .close {
    line-height: 1;
    cursor: pointer;
    height: min-content;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 4;
  }

  .button_container {
    border-radius: $border-radius;
    width: 80%;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: $mobile) {
  .auth_popup {
    .close {
      font-size: 20px;
      top: 14px;
      right: 34px;
      padding: 0 4px;
    }

    .button_container {
      gap: 6px;
      padding-bottom: 6px;
      padding-top: 0;
    }
  }
}
