@import "styles/variables.scss";

.button {
  height: $field-height-md;
  display: flex;
  align-items: center;
  background-color: $primary-500;
  min-width: 100px;
  color: white;
  font-weight: $fw-bold;
  font-size: $fs-md;
  border-radius: $border-radius;
  padding: $p-md;

  &:hover {
    box-shadow: $box-shadow;
  }

  .container {
    height: $input-height;
    width: 100%;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.small {
  height: fit-content;
  font-size: $fs-sm;
  padding: $p-sm;
}

.large {
  height: fit-content;
  min-width: 130px;
  font-size: $fs-lg;
  padding: $p-lg;
}

.outlined {
  color: $primary-500;
  border: 1px solid $primary-500;
  background-color: transparent;
}

.disabled {
  color: $bg-700;
  border: 1px solid transparent;
  background-color: $bg-100;
  &:hover {
    box-shadow: none;
  }
}
