@import "styles/variables.scss";

.header {
  z-index: 3;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  color: $bg-600;
  font-size: $fs-md;
  font-weight: $fw-light;
  background-color: white;
  transition: all 0.4s;

  .header_top {
    border-bottom: 1px solid $bg-100;

    .content {
      margin: auto;
      width: $content-width;
      max-width: $content-max-width;
      display: flex;
      justify-content: space-between;

      .language {
        width: 110px;
      }

      .location {
        width: 130px;
      }

      .left_col,
      .right_col {
        display: flex;
        align-items: center;
        width: auto;
      }

      .right_col {
        gap: 10px;
      }
    }
  }

  .header_bottom {
    .content {
      margin: auto;
      width: $content-width;
      max-width: $content-max-width;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      gap: 20px;

      .mobile {
        display: none;
        &_search,
        &_hamburger {
          display: none;
        }
      }

      .categories {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 35%;
        min-width: fit-content;
        justify-content: space-between;

        .category {
          height: 100%;
          box-sizing: border-box;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 4px;

          .icon {
            opacity: 0;
          }

          &:hover {
            .icon {
              opacity: 1;
            }
          }

          &.selected {
            font-weight: $fw-semi-bold;
            .icon {
              opacity: 1;
            }
          }
        }
      }

      .search {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
    .header_top {
      display: none;
    }

    .header_bottom {
      .content {
        .search,
        .categories {
          display: none;
        }

        .mobile {
          display: flex;
          gap: 10px;

          &_search,
          &_hamburger {
            display: block;
          }
        }
      }
    }
  }
}
