@use "styles/variables.scss" as *;

.review {
  &_card {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .verified {
      position: absolute;
      z-index: 1;
      top: 8px;
      left: -10px;

      &_icon {
        height: 20px;
        width: 64px;
      }
    }

    .featured_image {
      position: relative;
      height: 124px;
      min-width: 220px;
      max-width: 220px;
      margin-right: 24px;
    }
  
    .title {
      font-size: $fs-md + 2px;
      font-weight: $fw-bold;
      color: $bg-600;
      margin-bottom: 8px;
    }

    .location {
      font-size: $fs-sm;
      font-weight: $fw-light;
      margin-bottom: 18px;
    }

  }
}

/* Start Style ReviewForm Component*/
.cta {
  &_group {
    display: flex;
    margin-bottom: 15px;
  }
  &_click {
    color: $primary-500;
    font-size: $fs-md;
    font-weight: $fw-semi-bold;
    margin-left: 23px;
  }
}

.form {
  &_group {
    margin-bottom: 32px;
  }
  &_label {
    font-size: $fs-sm;
    color: $bg-400;
    font-weight: $fw-semi-bold;
  }
}
/* End Style ReviewForm Component*/