@import "styles/variables.scss";

.heading {
  font-weight: $fw-bold;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.5s;

  &::before {
    content: "";
    display: block;
    height: 23px;
    width: 3px;
    transition: all 0.5s;
    margin-right: 4px;
    background-color: $primary-300;
    border-radius: $border-radius;
  }

  &.un_selected {
    color: $bg-200;
    &::before {
      background-color: $bg-200;
    }
  }
}

.tab {
  &::before {
  }
  &.un_selected {
    font-weight: $fw-light;
    &::before {
      height: 0;
    }
  }
}
