@import "styles/variables.scss";

.popover {
  position: relative;
  height: 100%;
  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    transition: all 0.4s ease-in-out;
    max-height: 0;
    overflow: hidden;
    z-index: 10;

    &.show {
      max-height: 1000px;
      padding: 16px;
    }

    & > div {
      cursor: pointer;
      padding: 8px;
      line-height: 1;
      border-radius: $border-radius;
      min-width: 100px;
      width: max-content;
      display: flex;
      gap: 10px;

      &:hover {
        background-color: $primary-20;
      }
    }

    &.top-right {
      left: 0;
    }

    &.top {
      top: unset;
      bottom: calc(100% + 20px);
    }

    &.top-left {
      right: 0;
    }

    &.bottom-right {
      left: 0;
      top: calc(100% + 10px);
    }

    &.bottom-left {
      right: 0;
    }
  }
}
