@import "styles/variables.scss";

.tier {
  table {
    width: 100%;
  }

  &_mobile {
    display: none;
  }

  a {
    color: #3faeff;
    font-size: $fs-md;
    font-weight: $fw-light;
    text-decoration: underline;
    cursor: pointer;
  }

  td,
  th {
    padding: 16px 30px;
    text-align: left;
    vertical-align: top;
    border: 1px solid $bg-100;
    &:first-child {
      border-left: none;
    }
  }

  td {
    color: $bg-700;
    font-size: $fs-md;
  }

  &_name {
    color: $bg-500;
    font-size: $fs-md;
  }

  &_price {
    margin-bottom: 10px;
    font-size: $fs-lg;

    span {
      font-weight: $fw-light;
      color: $bg-400;
      font-size: $fs-md;
    }
  }

  &_payment {
    font-size: $fs-md;
    font-weight: normal;
    height: 100%;
    display: flex;
    gap: 20px;
    border-bottom: none !important;
    border-right: none !important;
  }

  &_feature {
    color: $bg-700;
    font-size: $fs-md;
    font-weight: $fw-bold;
    height: 100%;
  }
}

.feature {
  background-color: #3faeff;
  border-radius: 50%;
  width: 20;
  height: 20;
}

@media screen and (max-width: $mobile) {
  .tier {
    table {
      display: none;
    }

    &_mobile {
      display: block;
      span {
        width: fit-content;
      }
      .recommended {
        position: absolute;
        top: -26px;
        right: 10px;
        height: 26px;
        overflow: hidden;
      }

      &_card {
        z-index: 2;
        background-color: $bg-50;
        border-radius: $border-radius;

        .body {
          padding: 20px;

          .name {
            color: $bg-700;
            font-size: $fs-md;
            font-weight: $fw-bold;
            height: 100%;
          }

          span {
            font-weight: $fw-light;
            color: $bg-400;
            font-size: $fs-xs;
          }
        }

        .features {
          position: relative;
          border-top: 1px solid $bg-100;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          color: $bg-600;
          font-size: $fs-sm;
          color: $bg-600;

          .feature {
            color: $bg-600;
            display: flex;
            align-items: flex-start;
            gap: 10px;
            &.no_provided {
              text-decoration: line-through;
              color: $bg-400;
            }
          }
        }

        .price {
          font-weight: $fw-bold;
          color: $bg-700;
          font-size: $fs-lg;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 20px;
        }

        .button_container {
          display: flex;
          justify-content: center;
          padding: 20px;
          border-top: 1px solid $bg-100;
        }
      }
    }
  }
}
