@import "styles/variables.scss";

.badge {
  padding: 8px 24px;
  box-sizing: border-box;
  min-width: 60px;
  border: 1px solid $bg-400;
  color: $bg-400;
  font-weight: $fw-light;
  font-size: $fs-md;
  line-height: 1;
  border-radius: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.selected {
    border: 2px solid $bg-600;
    color: $bg-600;
    font-weight: $fw-semi-bold;
  }
}
