@import "styles/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  color: $bg-400;

  .left_col {
    margin-right: 5rem;
    width: fit-content;

    .social_row {
      display: flex;
      flex-direction: row;
      
      .social_image {
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }

  .right_col {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    width: 70%;

    .nav {
      width: 18%;
      font-size: $text-sm;
      .header {
        color: $bg-500;
        font-size: $text-md;
        font-weight: $font-semi-bold;
      }
      .item_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

        .label {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.rights {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $bg-100;
  padding-top: 16px;
  margin-top: 16px;
  font-size: $text-xs;
  color: $bg-400;
}

@media screen and (max-width: $mobile) {
  .footer {
    flex-direction: column;

    .left_col {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .right_col {
      width: 100%;
      justify-content: space-between;
      column-gap: 0px;
      
      .nav {
        width: 31%;
      }
    }
  }
  .rights {
    flex-direction: column;
    gap: 10px;
  }
}
