@import "styles/variables.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3c4467a1;
  transition: all 0.001s;
  z-index: -1;

  &.show {
    z-index: 4;

    .container {
      max-height: calc(100vh - 250px);
    }
  }

  .container {
    width: fit-content;
    min-width: 300px;
    max-height: 0;
    overflow-y: scroll;
    border-radius: $border-radius;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    background-color: white;
    overscroll-behavior: none;
    box-shadow: $box-shadow;

    .header {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;
      align-items: center;
      background-color: white;

      .title {
        color: $bg-700;
        font-size: $fs-lg;
        font-weight: $fw-bold;
      }

      .sub_title {
        color: $bg-500;
        font-size: $fs-sm;
        font-weight: $fw-light;
      }

      .close {
        cursor: pointer;
      }
    }

    .content {
      width: 100%;
      height: inherit;
      overflow-y: scroll;
      overscroll-behavior: none;
    }
  }
}

.footer {
  display: flex;
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  font-weight: $fw-semi-bold;
  font-size: $fs-lg;
  padding: 30px;
  padding-bottom: 0;
  width: 100%;

  &.center {
    justify-content: center !important;
  }
}

.no_backdrop {
  background-color: transparent;
}

.transparent {
  .container {
    background-color: transparent;
    box-shadow: none;
  }
}

@media screen and (max-width: $mobile) {
  .modal {
    &.show {
      .container {
        margin-top: 0;
        max-height: 1000px;
      }
    }
    .container {
      border-radius: $border-radius $border-radius 0 0;
      margin-bottom: 60px;
    }
  }

  .bottom {
    align-items: flex-end;
  }

  .center {
    align-items: center;
  }

  .top {
    align-items: flex-start;
  }

  .left {
    justify-content: flex-start;
    align-items: end;
  }

  .right {
    justify-content: flex-end;
    align-items: flex-end;

    .container {
      position: absolute;
      width: fit-content;
      right: -110%;
      height: 100%;
      max-height: unset;
    }

    &.show {
      z-index: 2;

      .container {
        right: 0;
      }
    }
  }

  .full_height {
    &.show {
      z-index: 4;
    }
    .container {
      height: 100%;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
    }
  }
} ;
