@import "styles/variables.scss";

.mobile_banner_card {
  display: none;
  video {
    width: 100%;
  }
}

@media screen and (max-width: $mobile) {
  .mobile_banner_card {
    display: flex;
    position: relative;
    object-fit: contain;
    width: 100%;
    background-color: black;
    justify-content: center;
  }
  .banner {
    display: none;
  }
}
