@import "styles/variables.scss";

.mobile_banner_card {
  position: relative;
  object-fit: contain;
  height: 400px;
  width: 100%;
  display: none;
  background-color: black;

  video {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: $mobile) {
  .mobile_banner_card {
    display: block;
    &_video {
    }
  }
  .banner {
    display: none;
  }
}
