@import "styles/variables.scss";

.section_layout {
  width: 100%;
  padding: 27px 0;
  z-index: 1;
  background-color: white;

  .container {
    margin: auto;
    width: $content-width;
    max-width: $content-max-width;

    .title_container {
      margin-bottom: 30px;
      .title {
        font-size: $text-xl;
        font-weight: $font-bold;
      }

      .sub_title {
        margin-top: 8px;
        font-weight: $font-light;
        font-size: $text-sm;
        color: $bg-500;
      }
    }

    .children {
      width: 100%;
    }
  }

  &.colored_background {
    background-color: $bg-50;
  }

  &.transparent {
    background-color: transparent;
  }
}

@media screen and (max-width: $mobile) {
  .section_layout {
    .container {
      width: 82%;
    }
  }
}

@media screen and (max-width: $small-mobile) {
  .section_layout {
    .container {
      width: 90%;
    }
  }
}

@media screen and (max-width: 450px) {
  .section_layout {
    .container {
      width: 90%;
      .children {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .section_layout {
    .container {
      width: 100%;
      .children {
        justify-content: space-around;
      }
    }
  }
}