@import "styles/variables.scss";

.section_layout {
  width: 100%;
  padding: 50px 0;
  z-index: 1;
  background-color: white;

  .container {
    margin: auto;
    width: $content-width;
    max-width: $content-max-width;

    .title {
      font-size: $fs-xl;
      font-weight: $fw-bold;
      margin-bottom: 30px;
    }

    .content {
      width: 100%;
    }
  }

  &.colored_background {
    background-color: $bg-50;
  }
}

@media screen and (max-width: $mobile) {
  .section_layout {
    .container {
      width: 82%;
    }
  }
}

@media screen and (max-width: $small-mobile) {
  .section_layout {
    .container {
      width: 90%;
    }
  }
}
