@import "variables.scss";

.listing_homepage {
  p {
    color: $bg-400;
    font-size: $fs-sm;
    text-align: center;
  }

  a {
    color: $blue-500;
    text-decoration: underline;
    font-size: $fs-sm;
    cursor: pointer;
  }

  .break {
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: $bg-100;
  }

  .heading {
    font-weight: $fw-bold;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      height: 23px;
      width: 3px;
      margin-right: 6px;
      background-color: $primary-300;
      border-radius: $border-radius;
    }
  }

  .banner {
    background-color: $bg-50;
    border: none;
    height: 400px;
  }

  .breadcrumbs {
    margin-top: 20px;
    display: flex;
    gap: 6px;
    color: $bg-400;
    font-size: $fs-sm;
    align-items: center;
  }

  .body {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    gap: 2%;

    .right_col {
      position: relative;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 20px;

      .social_links_container {
        display: flex;
        gap: 10px;
      }
    }

    .left_col {
      width: 68%;
    }
  }

  .upload {
    border: 2px dashed $bg-100;
    border-radius: $border-radius;
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }

  .add_items_container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .close {
        font-size: 30px;
        font-weight: $fw-light;
        height: min-content;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .listing_homepage {
    .body {
      flex-direction: column;
      .right_col {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .left_col {
        width: 100%;
        .social_link_container {
          width: 100%;
          flex-direction: row;
          align-items: center;
          gap: 20px;

          .social_link {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            &_title {
              display: flex;
              align-items: center;
              width: 30%;
              gap: 10px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
