@use "styles/variables.scss" as *;
@use "./../components/ReviewsPage/ReviewCard/ReviewCard.module.scss";

.claim {
  .main_content {
    flex: 1;
    max-width: 790px;
  }

  .section_claim_search_box {
    position: absolute;
    height: 200px;
    bottom: -20px;
    left: 50%;
    background-color: transparent;
    z-index: 1;
    transform: translateX(-50%);
    padding-top: 50px;
  }
  .header {
    font-size: $fs-2xl;
    font-weight: $fw-bold;
    text-align: center;
    margin: 80px 0 20px 0;
  }
  .advantage {
    display: flex;
    gap: 10px;
    .description {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .title {
        font-size: $fs-xl;
        font-weight: $fw-bold;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .section_two {
      padding-top: 270px;

      .header {
        margin: 0;
      }

      .advantage {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
        .description {
          width: 100%;
        }
      }

      .top_search {
        padding-top: 0;
        &_container {
          width: 100%;
          padding: 0 16px;
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .section_claim_search_box {
      bottom: -100px;
    }
  }
}
