@import "styles/variables.scss";

.breadcrumbs {
  padding-top: 20px;
  display: flex;
  gap: 6px;
  color: $bg-400;
  font-size: $text-sm;
  align-items: center;
}

.banner,
.collection_banner {
  padding: 0;
  height: min-content;
  display: block;
  position: relative;
}

.collection_banner {
  color: white;

  .collection_name {
    position: absolute;
    top: 20px;
    left: 100px;
    font-weight: $font-bold;
    font-size: $text-2xl;
  }
  .collection_description {
    position: absolute;
    top: 80px;
    left: 100px;
    font-weight: $font-normal;
    font-size: $text-md;
  }
}

.tab_filter,
.for_you {
  position: sticky;
  top: 120px;
  background-color: white;
  z-index: 2;
  left: 0;
  padding: 0;
  cursor: pointer;
}

.for_you {
  padding: 10px 0;

  &_tag {
    border-top: 5px solid $primary-500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 90px;
    width: 190px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    font-size: $text-sm;
  }

  &_icon {
    padding: 8px;
    background-color: $primary-50;
    border-radius: 50%;
    fill: $primary-500;
  }
}

.for_you_container {
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.banner_card {
  z-index: 10;
  position: relative;
  overflow: auto;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  img {
    border-radius: $border-radius;
  }
}

.bests {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &_label {
      font-weight: $font-bold;
    }

    &_icon {
      border-radius: 50%;
      padding: 10px;
      width: 100px;
      height: 100px;
      background-color: $primary-50;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      .category_icon {
        background-color: $yellow-100;
      }

      .category_label {
        color: $primary-500;
      }
    }
  }
}

.sub_category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  &:hover {
    .sub_category_label {
      color: $primary-500;
    }
  }

  &_icon {
    position: relative;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: $primary-50;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 50%;
    }
  }

  &_label {
    font-weight: $font-normal;
  }
}

.introduction {
  width: 100%;
  height: 500px;
  padding: 20px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url("/images/acurated.png");
  background-color: $primary-50;

  .header {
    font-size: $text-2xl;
    font-weight: $font-bold;
    width: 600px;
    span {
      color: $primary-500;
    }
  }
  .content,
  .title {
    width: 600px;
  }
  .title {
    font-weight: $font-bold;
  }
  .content {
    color: $bg-600;
    font-weight: $font-light;
  }
}

@media screen and (max-width: $big-tablet) {
  .bests {
    gap: unset;
    justify-content: space-between;
  }

  .introduction {
    background-image: none;
    height: fit-content;
    .content,
    .title,
    .header {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile) {
  .bests {
    gap: unset;
    justify-content: space-between;
    .category {
      &_icon {
        width: 40px;
        height: 40px;
      }

      &_label {
        font-weight: $font-light;
        font-size: $text-sm;
        width: max-content;
      }
    }
  }

  .for_you {
    top: unset;
    position: relative;
  }

  .for_you_container {
    gap: 10px;
  }
}
