$content-max-width:1440px;
$content-width:81%;

$border-radius:8px;

//break-points
$big-tablet: 1024px;
$tablet: 900px;
$mobile: 500px;
$small-mobile: 380px;

///colors
$blue-100: #D9EFFF;
$blue-200: #B2DFFF;
$blue-300: #8CCEFF;
$blue-400: #65BEFF;
$blue-50: #ECF7FF;
$blue-500: #3FAEFF;
$blue-600: #2F83BF;
$blue-700: #205780;

$green-100: #D2F2E3;
$green-200: #A5E5C7;
$green-300: #77D9AB;
$green-400: #4ACC8F;
$green-50: #E9F9F2;
$green-500: #1DBF73;
$green-600: #168F56;
$green-700: #0F603A;

$orange-100: #FFE7D5;
$orange-200: #FFCFAC;
$orange-300: #FFB682;
$orange-400: #FF9E59;
$orange-50: #FFF3EB;
$orange-500: #FF862F;
$orange-600: #BF6523;
$orange-700: #804318;

$yellow-100: #FDF6D8;
$yellow-200: #FAECB2;
$yellow-300: #F8E38B;
$yellow-400: #F5D965;
$yellow-50: #FEFBEC;
$yellow-500: #F3D03E;
$yellow-600: #B69C2F;
$yellow-700: #7A681F;

$bg-0: #FFFFFF;
$bg-100: #E2E4E9;
$bg-200: #C6C8D2;
$bg-300: #A4A8B7;
$bg-400: #7F859F;
$bg-50: #F5F5F5;
$bg-500: #3C4467;
$bg-600: #2D334D;
$bg-700: #131620;

$primary-100: #FACCD0;
$primary-20: #FEF1F2;
$primary-200: #F599A0;
$primary-300: #F06771;
$primary-400: #EB3441;
$primary-50: #FDE6E8;
$primary-500: #E60112;
$primary-600: #AD010E;
$primary-700: #730109;
$primary-800: #3A0005;
$primary-900: #170002;

$primary-00: #0A0A0A;
$primary-00: #333333;
$primary-00: #666666;
$primary-00: #999999;
$primary-00: #E0E0E0;
$primary-00: #F0F0F0;
$primary-00: #F5F5F5;